html, body {
	margin-left: 20%;
	margin-right: 25%;
}

#topnav {
	width: 500pt;
	text-align: right;
	position: fixed;
	background-color: red;
	display: contents;
	margin-left: 0%;
	margin-right: 50%;
	margin-top: 40pt;
	color: white;
	font-family: 'David Libre', serif;
	display: inline-block;
	text-shadow: 0pt 3pt;
}

button {
	align-items: center;
	color: blue;
	border-color: red;
	background-color: white;
	margin-left: 50%;
    margin-top: 50pt;
    bottom:0pt;
   	font-family: 'David Libre', serif;
   	font-size: 25pt;
   	background-color: 

}

#body {
	position: relative;
	margin-left: 20%;
	margin-bottom: 20%
}

#click {
	margin-bottom: 250pt;
  	margin-left: 50%;
    margin-top: 0pt;
    text-align: center;
    color:red;
	font-family: 'Shadows Into Light', cursive;
	font-size: 20pt;
	direction: rtl;
	unicode-bidi: bidi-override;
}

#scroll {
    margin-left: 60%;
    margin-top: 20%;
    color: red;
    font-style: oblique;
    font-family: 'Shadows Into Light', serif;
    font-size: 20pt;
}

p.mask {
	color:white;
	margin-top: 250pt;
	font-family: 'Special Elite', cursive;
	line-height: 1.2;
}

p.cloud {
	color:white;
	margin-top: 40%;
	font-family: 'Special Elite', cursive;
	text-shadow:2px 2px 5px white;
	line-height: 1.2;
}

p.air {
	color:white;
	margin-top: 40%;
	font-family: 'Special Elite', cursive;
	direction: rtl;
	unicode-bidi: bidi-override;
	line-height: 1.2;
}

p.floating {
	color:white;
	margin-top: 40%;
	font-family: 'Special Elite', cursive;
	line-height: 1.2;
}

p.rape {
	color:white;
	margin-bottom: 250pt;
	margin-top: 40%;
	font-family: 'Special Elite', cursive;
	line-height: 1.2;
}
