html, body {
	margin:0;
	top:0;
	left:0;
	font-family: 'Quicksand', sans-serif;
}

#topnav {
	width:100%;
	background-color:white;
	text-align: center;
	position:fixed;
	top: 0;
}

#topnav div {
	display: inline-block;
	margin: 0% 5%;
	padding: 0% 5%;
	transition: 0.5s all ease-in-out;
}

#topnav h1{
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 1em;
}


.aliner {
	width: 80%;
}

#sidenav {
	display: none;
}

.gallery {
    width: 50%;
    padding-top: 10%;
    margin: auto;
}

.post img {
	width: 100%;
}

.post h3 {
	font-size:5em;
	margin-bottom:-3%;
	font-weight:;

}